.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 140px;
  height: 40px;
  font-family: "Fira Sans", sans-serif;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 500px;
  border: none;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.btn:hover > .icon,
.btn:focus > .icon {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.icon {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--primary-color);
  stroke: var(--primary-color);
  fill: transparent;
}
