.sectionWrapper {
  display: grid;
  grid-template-areas: "title" "questions" "btn";
}

.titleWrapper {
  grid-area: title;
}

.list {
  grid-area: questions;
  padding: 0;
  margin: 24px 0 0 0;
  list-style: none;
}

.list li {
  padding: 0;
  margin: 0 0 0 0;
}

.textWrapper {
  grid-area: btn;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.text {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
}

@media only screen and (min-width: 768px) {
  .sectionWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "questions title"
      "questions btn";
    gap: 24px;
  }
}

@media only screen and (min-width: 1280px) {
  .sectionWrapper {
    gap: 48px;
  }

  .titleWrapper {
    padding-left: 137px;
  }

  .textWrapper {
    width: 536px;
    padding-left: 137px;
  }

  .text {
    font-size: 24px;
    line-height: 29px;
  }
}
