.titleWrapper {
  margin: 0 auto;
  text-align: center;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 24px;
  margin-bottom: 36px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.lineWrapper {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.line {
  width: 1px;
  height: 87px;
  border-right: 1px solid var(--secondary-color);
}

.kwh {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: var(--primary-color);
}

@media only screen and (min-width: 768px) {
  .titleWrapper {
    width: 368px;
  }

  .counter {
    gap: 24px;
    margin-top: 24px;
    margin-bottom: 100px;
    font-size: 100px;
    line-height: 100px;
  }

  .kwh {
    font-size: 48px;
    line-height: 48px;
  }
}

@media only screen and (min-width: 1280px) {
  .titleWrapper {
    width: 491px;
  }

  .counter {
    gap: 24px;
    margin-top: 17px;
    margin-bottom: 120px;
    font-size: 164px;
    line-height: 164px;
  }
}
