.wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 269px;
  height: 40px;
  cursor: pointer;
}

.wrapper:hover > .title,
.wrapper:active > .title {
  color: #97d28b;
}

.img {
  width: 31px;
  height: 18px;
}

.title {
  width: 170px;
  height: 40px;
  font-family: "AllroundGothic";
  font-style: normal;
  font-weight: 500;
  font-size: 33px;
  line-height: 36px;
  letter-spacing: -0.04em;
  color: #173d33;
}

.text {
  width: 60px;
  height: 18px;
  font-family: "CA Saygon Text";
  font-weight: 400;
  font-size: 10px;
  line-height: 9px;
  letter-spacing: -0.04em;
  color: #173d33;
}

.green {
  color: #97d28b;
}
