@font-face {
  font-family: "FiraSans";
  src: url("./firasans/FiraSans-Light.woff2") format("woff2"),
    url("./firasans/FiraSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("./firasans/FiraSans-Regular.woff2") format("woff2"),
    url("./firasans/FiraSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("./firasans/FiraSans-Medium.woff2") format("woff2"),
    url("./firasans/FiraSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("./oswald/Oswald-Regular.woff2") format("woff2"),
    url("./oswald/FiraSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("./oswald/Oswald-Medium.woff2") format("woff2"),
    url("./oswald/FiraSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("./oswald/Oswald-Bold.woff2") format("woff2"),
    url("./oswald/FiraSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AllroundGothic";
  src: url("./allroundgothic/Fontspring-DEMO-allroundgothic-medium.otf")
    format("opentype");
  font-weight: 500; /* Medium */
}

@font-face {
  font-family: "CA Saygon Text";
  src: url("./casaygontext/CASaygonTextTrial-Regular-BF6567ef84e4b10.otf")
    format("opentype");
  font-weight: 400; /* Regular */
}
