@font-face {
  font-family: "AllroundGothic";
  src: url("./allroundgothic/Fontspring-DEMO-allroundgothic-bold.otf")
    format("opentype");
  font-weight: 700; /* Bold */
}

@font-face {
  font-family: "AllroundGothic";
  src: url("./allroundgothic/Fontspring-DEMO-allroundgothic-boldoblique.otf")
    format("opentype");
  font-weight: 700; /* Bold Oblique */
  font-style: oblique;
}

@font-face {
  font-family: "AllroundGothic";
  src: url("./allroundgothic/Fontspring-DEMO-allroundgothic-book.otf")
    format("opentype");
  font-weight: 400; /* Book (Regular) */
}

@font-face {
  font-family: "AllroundGothic";
  src: url("./allroundgothic/Fontspring-DEMO-allroundgothic-bookoblique.otf")
    format("opentype");
  font-weight: 400; /* Book Oblique (Regular Italic) */
  font-style: oblique;
}

@font-face {
  font-family: "AllroundGothic";
  src: url("./allroundgothic/Fontspring-DEMO-allroundgothic-demi.otf")
    format("opentype");
  font-weight: 600; /* Demi */
}

@font-face {
  font-family: "AllroundGothic";
  src: url("./allroundgothic/Fontspring-DEMO-allroundgothic-demioblique.otf")
    format("opentype");
  font-weight: 600; /* Demi Oblique */
  font-style: oblique;
}

@font-face {
  font-family: "AllroundGothic";
  src: url("./allroundgothic/Fontspring-DEMO-allroundgothic-lig.otf")
    format("opentype");
  font-weight: 300; /* Light */
}

@font-face {
  font-family: "AllroundGothic";
  src: url("./allroundgothic/Fontspring-DEMO-allroundgothic-ligoblique.otf")
    format("opentype");
  font-weight: 300; /* Light Oblique */
  font-style: oblique;
}

@font-face {
  font-family: "AllroundGothic";
  src: url("./allroundgothic/Fontspring-DEMO-allroundgothic-medium.otf")
    format("opentype");
  font-weight: 500; /* Medium */
}

@font-face {
  font-family: "AllroundGothic";
  src: url("./allroundgothic/Fontspring-DEMO-allroundgothic-mediumoblique.otf")
    format("opentype");
  font-weight: 500; /* Medium Oblique */
  font-style: oblique;
}

@font-face {
  font-family: "AllroundGothic";
  src: url("./allroundgothic/Fontspring-DEMO-allroundgothic-semi.otf")
    format("opentype");
  font-weight: 600; /* Semi */
}

@font-face {
  font-family: "AllroundGothic";
  src: url("./allroundgothic/Fontspring-DEMO-allroundgothic-semioblique.otf")
    format("opentype");
  font-weight: 600; /* Semi Oblique */
  font-style: oblique;
}

@font-face {
  font-family: "AllroundGothic";
  src: url("./allroundgothic/Fontspring-DEMO-allroundgothic-text.otf")
    format("opentype");
  font-weight: 400; /* Text (Regular) */
}

@font-face {
  font-family: "AllroundGothic";
  src: url("./allroundgothic/Fontspring-DEMO-allroundgothic-textoblique.otf")
    format("opentype");
  font-weight: 400; /* Text Oblique (Regular Italic) */
  font-style: oblique;
}

@font-face {
  font-family: "AllroundGothic";
  src: url("./allroundgothic/Fontspring-DEMO-allroundgothic-thick.otf")
    format("opentype");
  font-weight: 700; /* Thick */
}

@font-face {
  font-family: "AllroundGothic";
  src: url("./allroundgothic/Fontspring-DEMO-allroundgothic-thickoblique.otf")
    format("opentype");
  font-weight: 700; /* Thick Oblique */
  font-style: oblique;
}

@font-face {
  font-family: "AllroundGothic";
  src: url("./allroundgothic/Fontspring-DEMO-allroundgothic-xlig.otf")
    format("opentype");
  font-weight: 200; /* Extra Light */
}

@font-face {
  font-family: "AllroundGothic";
  src: url("./allroundgothic/Fontspring-DEMO-allroundgothic-xligoblique.otf")
    format("opentype");
  font-weight: 200; /* Extra Light Oblique */
  font-style: oblique;
}

@font-face {
  font-family: "CA Saygon Text";
  src: url("./casaygontext/CASaygonTextTrial-Bold-BF6567ef84cf0a9.otf")
    format("opentype");
  font-weight: 700; /* Bold */
}

@font-face {
  font-family: "CA Saygon Text";
  src: url("./casaygontext/CASaygonTextTrial-Extrabold-BF6567ef84aae08.otf")
    format("opentype");
  font-weight: 800; /* Extrabold */
}

@font-face {
  font-family: "CA Saygon Text";
  src: url("./casaygontext/CASaygonTextTrial-Light-BF6567ef84ee389.otf")
    format("opentype");
  font-weight: 300; /* Light */
}

@font-face {
  font-family: "CA Saygon Text";
  src: url("./casaygontext/CASaygonTextTrial-Medium-BF6567ef84d90fa.otf")
    format("opentype");
  font-weight: 500; /* Medium */
}

@font-face {
  font-family: "CA Saygon Text";
  src: url("./casaygontext/CASaygonTextTrial-Regular-BF6567ef84e4b10.otf")
    format("opentype");
  font-weight: 400; /* Regular */
}

@font-face {
  font-family: "CA Saygon Text";
  src: url("./casaygontext/CASaygonTextTrial-Semibold-BF6567ef84bf0be.otf")
    format("opentype");
  font-weight: 600; /* Semibold */
}

@font-face {
  font-family: "CA Saygon Text";
  src: url("./casaygontext/CASaygonTextTrial-Thin-BF6567ef84b663e.otf")
    format("opentype");
  font-weight: 100; /* Thin */
}
