.headerSection {
  display: block;
  margin-bottom: 36px;
}

.titleWrapper {
  width: 320px;
  margin-bottom: 24px;
}

.headerText {
  letter-spacing: -0.04em;
  line-height: 19px;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.imgItem {
  display: none;
}

@media only screen and (min-width: 768px) {
  .headerSection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  .titleWrapper {
    width: 272px;
  }

  .headerTextWrapper {
    padding-left: 11px;
    border-left: 1px solid var(--secondary-color);
  }

  .headerText {
    width: 342px;
  }

  .list {
    grid-template-columns: repeat(4, 1fr);
  }

  .imgItem {
    display: block;
    grid-column: span 2;
  }

  .img {
    width: 342px;
    height: 197px;
  }
}

@media only screen and (min-width: 1280px) {
  .headerSection {
    margin-bottom: 124px;
  }

  .titleWrapper {
    width: 365px;
  }

  .headerTextWrapper {
    padding-left: 161px;
  }

  .headerText {
    width: 459px;
  }

  .list {
    gap: 48px;
  }

  .img {
    width: 596px;
    height: 339px;
  }
}
