.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
}

.wrapperBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

@media only screen and (min-width: 1280px) {
  .header {
    padding-top: 24px;
  }
}
