.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
  /* background-color: aquamarine; */
}

.wrapperBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.toContactBtnWrapper {
  display: none;
}

@media only screen and (min-width: 768px) {
  .toContactBtnWrapper {
    display: block;
  }
}

@media only screen and (min-width: 1280px) {
  .header {
    padding-top: 24px;
  }
}
