.sectionWrapper {
  display: block;
}

.titleWrapper {
  grid-column: span 2;
  text-align: center;
  margin-bottom: 24px;
}

.contactItem {
  margin-bottom: 28px;
}

.contactTitle {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.04em;
  margin-bottom: 8px;
}

.contactValue {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
  color: var(--primary-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.wrapperBtns {
  display: flex;
  gap: 8px;
}

.socialLink {
  color: var(--primary-color);
}

.socialLink:hover,
.socialLink:focus {
  color: var(--secondary-color);
}

.icon {
  stroke: currentColor;
  fill: transparent;
}

@media only screen and (min-width: 768px) {
  .sectionWrapper {
    display: grid;
    grid-template-columns: 1fr 342px;
    grid-template-rows: auto auto;
  }

  .titleWrapper {
    margin-bottom: 40px;
  }

  .contactItem {
    margin-bottom: 24px;
  }

  .contactValue {
    font-size: 20px;
    line-height: 24px;
  }
}

@media only screen and (min-width: 1280px) {
  .sectionWrapper {
    grid-template-columns: 1fr 596px;
  }

  .titleWrapper {
    margin-bottom: 120px;
  }

  .contactItem {
    margin-bottom: 32px;
  }

  .contactTitle {
    margin-bottom: 16px;
  }

  .contactValue {
    font-size: 24px;
    line-height: 29px;
  }
}
