.details {
  border-top: 1px solid var(--secondary-color);
  padding: 16px 0;
}

.summary {
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
}

.details summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  cursor: pointer;
  list-style: none;
}

.details summary::marker {
  display: none;
}

.icon {
  stroke: var(--secondary-color);
  fill: var(--secondary-color);
}

details[open] summary .icon {
  stroke: var(--primary-color);
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
  margin-top: 16px;
}

/* @media only screen and (min-width: 768px) {
   {
  }
} */

@media only screen and (min-width: 1280px) {
  .details {
    padding: 24px 0;
  }

  .summary {
    font-size: 24px;
    line-height: 29px;
  }

  .text {
    font-size: 16px;
    line-height: 19px;
    margin-top: 24px;
  }
}
