.footer {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid var(--secondary-color);
}

.wrapperBtns {
  display: flex;
  gap: 8px;
}

.socialLink {
  color: var(--primary-color);
}

.socialLink:hover,
.socialLink:active {
  color: var(--secondary-color);
}

.icon {
  stroke: currentColor;
  fill: transparent;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.iconUp {
  stroke: var(--primary-color);
  fill: transparent;
  transform: rotate(270deg);
}
