@import "../node_modules/modern-normalize/modern-normalize.css";
@import "./fonts/fonts.css";

:root {
  --background-color: #f3f5fa;
  --primary-color: #173d33;
  --primary-color-75: rgba(23, 61, 51, 0.75);
  --primary-color-50: rgba(23, 61, 51, 0.5);
  --primary-color-25: rgba(23, 61, 51, 0.25);
  --secondary-color: #97d28b;
  --secondary-color-25: rgba(151, 210, 139, 0.25);
  --burger-color: #dcefd8;
  --white-color: #ffffff;
  --white-color-25: rgba(255, 255, 255, 0.25);
  --error-color: #d28b8b;
  --placeholder-color: #bdbdbd;
}

body {
  font-style: normal;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  color: var(--primary-color);
  box-sizing: border-box;
  font-size: 16px;
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h6,
h6,
p {
  margin: 0;
  padding: 0;
}

button {
  transition: background-color 0.3s;
}

a {
  color: var(--primary-color);
  transition: color 0.3s;
}

a:hover,
a:focus {
  color: var(--secondary-color);
  transition: color 0.3s;
}

.container {
  width: 360px;
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
}

.main {
  margin-top: 222px;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
    padding: 0 30px;
  }

  .main {
    margin-top: 240px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .main {
    margin-top: 264px;
  }
}

.body-scroll-lock {
  /* overflow: hidden; */
}

.is-current {
  color: #97d28b;
}
