.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
